body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

.logo {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 10px;
}

.nav-elements {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-elements li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
}

.nav-elements li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

.keyboards img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}


.mouse img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.headphones img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}


.section {
    margin-top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #333;
    color: white;
    font-weight: bold;
}

td img {
    width: 200px;
}

.forma {
    margin-top: 200px;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: lightgray;
}

textarea:hover, input:hover{background-color: white;}

textarea {
    resize: none;
}

.dugme {
    width: 100%;
    background-color: #333;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dugme:hover {
    background-color: #111;
}

label {
    font-weight: bold;
}

@media screen and (min-width: 300px) and (max-width: 500px){
    .navbar{
        height: 120px;
        display: block;
        padding-top: 20px;
    }
    
    .logo{
        display: block;
        margin: 20px auto;
    }

    .navbar ul{
        padding: 0px;
        margin: auto;
    }

    .navbar .nav-item{
        padding: 5px 10px;
        margin: 5px;
    }

    .main{
        display: block;
        height: 1800px;
    }

    .main img{
        width: 90%;
        display: block;
        margin: 20px auto;
    }

    .main p{
        padding: 0px 40px;
    }

    .main h1{
        font-size: 30px;
        text-align: center;
    }

    .forma {
        width: 90%;
    }
}